.round-box{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background:rgba(251,251,251,0.6);
padding-top: 25px;
padding-right: 25px;
padding-bottom: 25px;
padding-left: 25px;
box-sizing: border-box;
}


.box{
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}