@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, user:User)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href='@routes.Assets.versioned("stylesheets/bootstrap.min.css")' rel="stylesheet">
        <link href='@routes.Assets.versioned("stylesheets/styles.css")' rel="stylesheet">
        <link href='@routes.Assets.versioned("stylesheets/font-awesome-4.5.0/css/font-awesome.min.css")' rel="stylesheet">
        <link href='@routes.Assets.versioned("rateit.js-master/scripts/rateit.css")' rel="stylesheet">
    </head>
    <body>
            <!-- begin template -->
        <div class="navbar navbar-custom navbar-fixed-top" >
            <div class="navbar-header"><a class="navbar-brand" href="/">Booklight</a>
                <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-target="#collapse1" href="#collapse1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
            <div class="navbar-collapse collapse" id="collapse1">
                <ul class="nav navbar-nav">
                    <li><a href="" data-toggle="modal"  data-target="#createAListModal">Create a new list</a></li>
                    <li><a href="" data-toggle="modal" data-target="#publishAListModal">Publish an existing list</a></li>
                    <li><a href="" data-toggle="modal" data-target="#publishAListModal">List user favourites</a></li>
                    <li><a href="@routes.Application.logout()" >Logout</a></li>
                    <li>&nbsp;</li>
                </ul>
            </div>
        </div>

        <div class="container-fluid" id="main">

            <div align="center">
                <br>
                <h4>Welcome @user.name!</h4>
                <br>
            </div>

            <div class="row">
                <div class="col-xs-12">
                        <!-- item list -->
                    <div id="bookList"></div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="createAListModal" role="dialog">
            <div class="modal-dialog">
                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create a new List</h4>
                    </div>
                    <div class="modal-body">
                        <p><strong>Please choose from our books:</strong></p>
                        <div class="list-group">
                            <a href="#" class="list-group-item">First item</a>
                            <a href="#" class="list-group-item">Second item</a>
                            <a href="#" class="list-group-item">Third item</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="publishAListModal" role="dialog">
            <div class="modal-dialog">
                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Publish a List</h4>
                    </div>
                    <div class="modal-body">
                        <p><strong>Please choose from your lists:</strong></p>
                        <div class="list-group">
                            <a href="#" class="list-group-item">First item</a>
                            <a href="#" class="list-group-item">Second item</a>
                            <a href="#" class="list-group-item">Third item</a>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>




            <!-- end template -->

            <!-- script references -->
        <script src="@routes.Assets.versioned("javascripts/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/tether.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("rateit.js-master/scripts/jquery.rateit.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/getBooks.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/postRating.js")" type="text/javascript"></script>
    </body>
</html>