@(form: Form[Application.Registrate])

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<link href='@routes.Assets.versioned("stylesheets/registrate.css")' rel="stylesheet">

<div class="testbox">
    @helper.form(routes.Application.registration) {
        <h1>Registration</h1>

        @if(form.hasGlobalErrors) {
            <p class="error">
            @form.globalError.message
            </p>
        }
        @if(flash.contains("success")) {
            <p class="success">
            @flash.get("success")
            </p>
        }

        <hr>
        <label id="icon" for="name"><i class="icon-envelope "></i></label>

        <input type="email" name="email" placeholder="Email" value="@form("email").value">

        <label id="icon" for="name"><i class="icon-user"></i></label>

        <input type="text" name="name" placeholder="Name" value="@form("name").value">

        <label id="icon" for="name"><i class="icon-shield"></i></label>

        <input type="password" name="password" placeholder="Password" required/>

        <button type="submit">Login</button>
        }
</div>